:root {
  --primary: #3fd0d4;
  --dark: #333;
  --black: #222;
  --mainSpacing: 4px;
  --transition: all 0.3s linear;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Inria Serif', serif;
    line-height: 1.6;
    font-size: 1rem;
  }
  a {
      text-decoration: none;
  }
  h1,
  h2,
  h3,
  h4 {
    font-family: 'Tomorrow', sans-serif;
    padding: 0 1rem 1.25rem 1rem;
    letter-spacing: var(--mainSpacing);
  } 
  h2 {
    font-size: 2rem;
    display: block;
    padding: 0.5rem;
    text-align: center;
  }
  ul {
      list-style: none;
      display: flex;
  }
  p,
  li {
  padding: 0 1rem 0.5rem 1rem;
  }
  button {
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    padding: 0.9rem 1.6rem;
    display: inline-block;
    transition: var(--ransition);
    cursor: pointer;
  }
 
  