main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 1.5rem;
  text-align: center;
  margin: 1.5rem;
}

footer {
  margin-top: auto;
  background: var(--dark);
  padding: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
/*------- Utils - toggle nav ------------*/

.links {
  list-style-type: none;
  transition: var(--main);
  height: 0;
  overflow: hidden;
  flex-direction: column;
}
.links a {
  padding: 1rem 1.25rem;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--mainBlack);
  transition: var(--main);
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
}

.showNav {
  height: 116px;
}
@media (min-width: 960px) {
  .links {
    height: auto;
    display: flex;
    flex-direction: row;
  }
}

.netlify-identity-signup,
.netlify-identity-login,
.netlify-identity-logout {
  color: var(--black);
  letter-spacing: 2px;
}
.netlify-identity-signup:hover,
.netlify-identity-login:hover,
.netlify-identity-logout:hover {
  color: var(--primary);
}
