main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

section { 
  padding: 2rem 1rem;
  margin: 1rem 2.5%;
  display: grid;
  
  grid-gap: 1rem;
  
}

footer {
  margin-top: auto;
  background:var(--dark);
  padding: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}