
.links {
    list-style-type: none;
    transition: var(--mainTransition);
    height: 0;
    overflow: hidden; 
    flex-direction: column;  
}
links a {
      padding: 1rem 1.25rem;
      text-decoration: none;
      text-transform: capitalize;
      color: var(--mainBlack);
      transition: var(--mainTransition);
      font-weight: bold;
      letter-spacing: var(--mainSpacing);

}
  
.show-nav {
    height: 116px;
}
@media (min-width: 960px) {
    .links {
      height: auto;
      display: flex;
      flex-direction: row;
    }
}